# Hava Kirliliği

### 1 - Ms SQL Sorguları

In [ ]:
SELECT * FROM [Air Pollution]

In [ ]:
SELECT AVG(_2022) FROM [Air Pollution]

# 114,64208657654

In [ ]:
SELECT (_2022) FROM [Air Pollution] where (_2022)>114

# (2172 rows affected)

In [ ]:
SELECT AVG(_2021) FROM [Air Pollution]

# 126,380532342928

In [ ]:
SELECT (_2021) FROM [Air Pollution] where (_2021)>126

# (2058 rows affected)

In [ ]:
SELECT AVG(_2020) FROM [Air Pollution]

# 129,74475082216

In [ ]:
SELECT (_2020) FROM [Air Pollution] where (_2020)>129

# (1176 rows affected)

In [ ]:
SELECT AVG(_2019) FROM [Air Pollution]

# 131,45529757139

In [ ]:
SELECT (_2019) FROM [Air Pollution] where (_2019)>131

# (1035 rows affected)

In [ ]:
SELECT AVG(JAN) FROM [Air Pollution]

# 154,591914354134

In [ ]:
SELECT (JAN) FROM [Air Pollution] where (JAN)>154

# (1966 rows affected)

In [ ]:
SELECT AVG(FEB) FROM [Air Pollution]

# 122,40192926045

In [ ]:
SELECT (FEB) FROM [Air Pollution] where (FEB)>122

# (1977 rows affected)

In [ ]:
SELECT AVG(MAR) FROM [Air Pollution]

# 130,52361878453

In [ ]:
SELECT (MAR) FROM [Air Pollution] where (MAR)>130

# (2467 rows affected)

In [ ]:
SELECT AVG(APR) FROM [Air Pollution]

# 105,123248145095

In [ ]:
SELECT (APR) FROM [Air Pollution] where (APR)>105

# (2217 rows affected)

In [ ]:
SELECT AVG(MAY) FROM [Air Pollution]

# 96,9165981922761

In [ ]:
SELECT (MAY) FROM [Air Pollution] where (MAY)>96

# (2723 rows affected)

In [ ]:
SELECT AVG(JUN) FROM [Air Pollution]

# 89,4521036042209

In [ ]:
SELECT (JUN) FROM [Air Pollution] where (JUN)>89

# (2895 rows affected)

In [ ]:
SELECT AVG(JUL) FROM [Air Pollution]

# 87,8815951760998

In [ ]:
SELECT (JUL) FROM [Air Pollution] where (JUL)>87

# (2874 rows affected)

In [ ]:
SELECT AVG(AUG) FROM [Air Pollution]

# 90,3540466392318

In [ ]:
SELECT (AUG) FROM [Air Pollution] where (AUG)>90

# (2921 rows affected)

In [ ]:
SELECT AVG(SEP) FROM [Air Pollution]

# 101,614471140569

In [ ]:
SELECT (SEP) FROM [Air Pollution] where (SEP)>101

# (2303 rows affected)

In [ ]:
SELECT AVG(OCT) FROM [Air Pollution]

# 115,935501730104

In [ ]:
SELECT (OCT) FROM [Air Pollution] where (OCT)>115

# (2371 rows affected)

In [ ]:
SELECT AVG(NOV) FROM [Air Pollution]

# 132,185484996511

In [ ]:
SELECT (NOV) FROM [Air Pollution] where (NOV)>132

# (2124 rows affected)

In [ ]:
SELECT AVG(DEC) FROM [Air Pollution]

# 146,666950113379

In [ ]:
SELECT (DEC) FROM [Air Pollution] where (DEC)>146

# (2119 rows affected)

In [ ]:
SELECT DISTINCT SUBSTRING(City, CHARINDEX(',', City) + 1, LEN(City)) AS Unique_Values FROM [Air Pollution]

# (134 rows affected)

In [ ]:
SELECT TOP 10 SUBSTRING(City, CHARINDEX(',', City) + 1, LEN(City)) AS Unique_Values, COUNT(*) AS Tekrar_Sayisi
FROM [Air Pollution]
GROUP BY SUBSTRING(City, CHARINDEX(',', City) + 1, LEN(City))
ORDER BY Tekrar_Sayisi DESC

#  USA	2894
#  Japan	631
#  China	524
#  Canada	304
#  Germany	204
#  India	202
#  United Kingdom	186
#  Australia	171
#  Spain	167
#  Thailand	156

In [ ]:
SELECT AVG(_2022) AS Ortalama
FROM [Air Pollution]
WHERE City LIKE '%USA'

# 71,2836903939184

In [ ]:
SELECT AVG(_2022) AS Ortalama
FROM [Air Pollution]
WHERE City LIKE '%Japan'

# 82,6069730586371

In [ ]:
SELECT AVG(_2022) AS Ortalama
FROM [Air Pollution]
WHERE City LIKE '%China'

# 263,843511450382

In [ ]:
SELECT AVG(_2022) AS Ortalama
FROM [Air Pollution]
WHERE City LIKE '%Canada'

# 62,6414473684211

In [ ]:
SELECT AVG(_2022) AS Ortalama
FROM [Air Pollution]
WHERE City LIKE '%Germany'

# 87,3970588235294

In [ ]:
SELECT AVG(_2022) AS Ortalama
FROM [Air Pollution]
WHERE City LIKE '%India'

# 393,990099009901

In [ ]:
SELECT AVG(_2022) AS Ortalama
FROM [Air Pollution]
WHERE City LIKE '%United Kingdom'

# 72,8870967741936

In [ ]:
SELECT AVG(_2022) AS Ortalama
FROM [Air Pollution]
WHERE City LIKE '%Australia'

# 36,7543859649123

In [ ]:
SELECT AVG(_2022) AS Ortalama
FROM [Air Pollution]
WHERE City LIKE '%Spain'

# 88,7904191616767

In [ ]:
SELECT AVG(_2022) AS Ortalama
FROM [Air Pollution]
WHERE City LIKE '%Thailand'

# 177,891719745223

In [ ]:
SELECT TOP 10 Unique_Value, Ortalama
FROM (
  SELECT SUBSTRING(City, CHARINDEX(',', City) + 2, LEN(City)) AS Unique_Value, AVG(_2022) AS Ortalama
  FROM [Air Pollution]
  WHERE CHARINDEX(',', City) > 0
  GROUP BY SUBSTRING(City, CHARINDEX(',', City) + 2, LEN(City))
) AS Subquery
ORDER BY Ortalama DESC

# Chad	897
# Pakistan	692,571428571429
# Bahrain	666
# Bangladesh	658
# Qatar	453
# Iraq	451
# Kuwait	450
# Sudan	446
# Saudi Arabia	406,5
# Tajikistan	398,6

In [ ]:
SELECT TOP 10 Unique_Value, Ortalama
FROM (
  SELECT SUBSTRING(City, CHARINDEX(',', City) + 2, LEN(City)) AS Unique_Value, AVG(_2022) AS Ortalama
  FROM [Air Pollution]
  WHERE CHARINDEX(',', City) > 0
  GROUP BY SUBSTRING(City, CHARINDEX(',', City) + 2, LEN(City))
) AS Subquery
ORDER BY Ortalama ASC

# Bermuda	3
# Suriname	7
# Panama	9
# Guam	13
# U.S. Virgin Islands	15
# Iceland	23
# French Polynesia	25
# Gabon	25
# Saint Eustatius and SabaThe Bottom, Bonaire, Saint Eustatius and Saba	33
# New Caledonia	35

In [ ]:
SELECT TOP 10 Unique_Value, Ortalama
FROM (
  SELECT SUBSTRING(City, CHARINDEX(',', City) + 2, LEN(City)) AS Unique_Value, AVG(_2021) AS Ortalama
  FROM [Air Pollution]
  WHERE CHARINDEX(',', City) > 0 AND _2021 IS NOT NULL
  GROUP BY SUBSTRING(City, CHARINDEX(',', City) + 2, LEN(City))
) AS Subquery
ORDER BY Ortalama DESC

# Bangladesh	781
# Chad	776
# Pakistan	596,857142857143
# Kyrgyzstan	546
# Bahrain	498
# Iraq	497
# Tajikistan	451,2
# Democratic Republic of the Congo	446
# Sudan	441
# Rwanda	431

In [ ]:
SELECT TOP 10 Unique_Value, Ortalama
FROM (
  SELECT SUBSTRING(City, CHARINDEX(',', City) + 2, LEN(City)) AS Unique_Value, AVG(_2021) AS Ortalama
  FROM [Air Pollution]
  WHERE CHARINDEX(',', City) > 0 AND _2021 IS NOT NULL
  GROUP BY SUBSTRING(City, CHARINDEX(',', City) + 2, LEN(City))
) AS Subquery
ORDER BY Ortalama ASC

# Latvia	8
# Angola	11
# Algeria	20
# Guam	23
# Bermuda	33
# New Caledonia	38
# French Polynesia	43
# U.S. Virgin Islands	45,5
# Finland	45,7307692307692
# Iceland	47

In [ ]:
SELECT TOP 10 Unique_Value, Ortalama
FROM (
  SELECT SUBSTRING(City, CHARINDEX(',', City) + 2, LEN(City)) AS Unique_Value, AVG(_2020) AS Ortalama
  FROM [Air Pollution]
  WHERE CHARINDEX(',', City) > 0 AND _2020 IS NOT NULL
  GROUP BY SUBSTRING(City, CHARINDEX(',', City) + 2, LEN(City))
) AS Subquery
ORDER BY Ortalama DESC

# Bangladesh	771
# Pakistan	535,333333333333
# India	490,409090909091
# Afghanistan	465
# Qatar	443
# Kyrgyzstan	435
# Bahrain	397
# Nepal	392
# Tajikistan	309
# Kazakhstan	306

In [ ]:
SELECT TOP 10 Unique_Value, Ortalama
FROM (
  SELECT SUBSTRING(City, CHARINDEX(',', City) + 2, LEN(City)) AS Unique_Value, AVG(_2020) AS Ortalama
  FROM [Air Pollution]
  WHERE CHARINDEX(',', City) > 0 AND _2020 IS NOT NULL
  GROUP BY SUBSTRING(City, CHARINDEX(',', City) + 2, LEN(City))
) AS Subquery
ORDER BY Ortalama ASC

# Angola	13
# Albania	16
# Turkmenistan	17
# Kuwait	34
# U.S. Virgin Islands	36,5
# New Caledonia	37
# Puerto Rico	37
# Finland	47,1052631578947
# Norway	48,7307692307692
# Sweden	50,0909090909091

In [ ]:
SELECT TOP 10 Unique_Value, Ortalama
FROM (
  SELECT SUBSTRING(City, CHARINDEX(',', City) + 2, LEN(City)) AS Unique_Value, AVG(_2019) AS Ortalama
  FROM [Air Pollution]
  WHERE CHARINDEX(',', City) > 0 AND _2019 IS NOT NULL
  GROUP BY SUBSTRING(City, CHARINDEX(',', City) + 2, LEN(City))
) AS Subquery
ORDER BY Ortalama DESC

# Bangladesh	833
# Pakistan	620,6
# Afghanistan	588
# India	484,771428571429
# Bahrain	468
# Uzbekistan	412
# United Arab Emirates	396,5
# Indonesia	392,5
# Kuwait	383
# Bosnia Herzegovina	347,333333333333

In [ ]:
SELECT TOP 10 Unique_Value, Ortalama
FROM (
  SELECT SUBSTRING(City, CHARINDEX(',', City) + 2, LEN(City)) AS Unique_Value, AVG(_2019) AS Ortalama
  FROM [Air Pollution]
  WHERE CHARINDEX(',', City) > 0 AND _2019 IS NOT NULL
  GROUP BY SUBSTRING(City, CHARINDEX(',', City) + 2, LEN(City))
) AS Subquery
ORDER BY Ortalama ASC

# Egypt	18
# Singapore	19
# Myanmar	31
# Nepal	34
# U.S. Virgin Islands	34,5
# Finland	39,8235294117647
# Iceland	51
# Estonia	57,875
# Sweden	61,4545454545455
# Canada	61,9459459459459

In [ ]:
SELECT City, _2022
FROM [Air Pollution]
WHERE City LIKE '%USA'
ORDER BY _2022 DESC

# USAOakridge, USA
# 335
# USATerryville, USA
# 1

In [ ]:
SELECT City, _2022
FROM [Air Pollution]
WHERE City LIKE '%Japan'
ORDER BY _2022 DESC

# JapanKasaoka, Japan
# 146
# JapanShingu, Japan
# 6

In [ ]:
SELECT City, _2022
FROM [Air Pollution]
WHERE City LIKE '%China'
ORDER BY _2022 DESC

# ChinaHotan, China
# 943
# ChinaRikaze, China
# 7

In [ ]:
SELECT City, _2022
FROM [Air Pollution]
WHERE City LIKE '%Canada'
ORDER BY _2022 DESC

# CanadaClearwater, Canada
# 181
# CanadaPowell River, Canada
# 4

In [ ]:
SELECT City, _2022
FROM [Air Pollution]
WHERE City LIKE '%Germany'
ORDER BY _2022 DESC

# GermanyMeppen, Germany
# 153
# GermanySchwabische Alb, Germany
# 7

In [ ]:
SELECT City, _2022
FROM [Air Pollution]
WHERE City LIKE '%India'
ORDER BY _2022 DESC

# IndiaBhiwadi, India
# 927
# IndiaTarakeswar, India
# 9

In [ ]:
SELECT City, _2022
FROM [Air Pollution]
WHERE City LIKE '%United Kingdom'
ORDER BY _2022 DESC

# United KingdomFaversham, United Kingdom
# 122
# United KingdomMilngavie, United Kingdom
# 5

In [ ]:
SELECT City, _2022
FROM [Air Pollution]
WHERE City LIKE '%Australia'
ORDER BY _2022 DESC

# AustraliaLudmilla, Australia
# 123
# AustraliaCockburn, Australia
# 2

In [ ]:
SELECT City, _2022
FROM [Air Pollution]
WHERE City LIKE '%Spain'
ORDER BY _2022 DESC

# SpainPuebla de Alfinden, Spain
# 156
# SpainCastello de la Plana, Spain
# 4

In [ ]:
SELECT City, _2022
FROM [Air Pollution]
WHERE City LIKE '%Thailand'
ORDER BY _2022 DESC

# ThailandChaloem Phra Kiat, Thailand
# 362
# ThailandKo Mak, Thailand
# 9

In [ ]:
SELECT City, _2022
FROM [Air Pollution]
ORDER BY _2022 DESC

# PakistanLahore, Pakistan
# 974
# USATerryville, USA
# 1

In [ ]:
SELECT City, _2021
FROM [Air Pollution]
WHERE _2021 IS NOT NULL
ORDER BY _2021 DESC

# IndiaDarbhanga, India
# 1759
# AustraliaMoree, Australia
# 2

In [ ]:
SELECT City, _2020
FROM [Air Pollution]
WHERE _2020 IS NOT NULL
ORDER BY _2020 DESC

# ChinaHotan, China
# 1102
# AustraliaOuyen, Australia
# 3

In [ ]:
SELECT City, _2019
FROM [Air Pollution]
WHERE _2019 IS NOT NULL
ORDER BY _2019 DESC

# IndiaGhaziabad, India
# 1102
# USAWaimea, USA
# 2

### 2 - Sonuçlar

2022'de ortalama hava kirliliği 114'tür.

2022'de ortalama hava kirliliğini aşan şehir sayısı 2172'dir.

2021'de ortalama hava kirliliği 126'tür.

2021'de ortalama hava kirliliğini aşan şehir sayısı 2058'dir.

2020'de ortalama hava kirliliği 129'tür.

2020'de ortalama hava kirliliğini aşan şehir sayısı 1176'dir.

2019'da ortalama hava kirliliği 131'tür.

2019'da ortalama hava kirliliğini aşan şehir sayısı 1035'dir.

2019'dan 2022'ye ilerlerken ortalama hava kirliliği git gide düşmektedir.

Ancak ortalama hava kirliliğini aşan şehir sayısı git gide artmaktadır.

2022'nin Ocak ayında ortalama hava kirliliği 154'tür.

2022'nin Ocak ayında ortalama hava kirliliğini aşan şehir sayısı 1966'dır.

2022'nin Şubat ayında ortalama hava kirliliği 122'tür.

2022'nin Şubat ayında ortalama hava kirliliğini aşan şehir sayısı 1977'dır.

2022'nin Mart ayında ortalama hava kirliliği 130'tür.

2022'nin Mart ayında ortalama hava kirliliğini aşan şehir sayısı 2467'dır.

2022'nin Nisan ayında ortalama hava kirliliği 105'tür.

2022'nin Nisan ayında ortalama hava kirliliğini aşan şehir sayısı 2217'dır.

2022'nin Mayıs ayında ortalama hava kirliliği 96'tür.

2022'nin Mayıs ayında ortalama hava kirliliğini aşan şehir sayısı 2723'dır.

2022'nin Haziran ayında ortalama hava kirliliği 89'tür.

2022'nin Haziran ayında ortalama hava kirliliğini aşan şehir sayısı 2895'dır.

2022'nin Temmuz ayında ortalama hava kirliliği 87'tür.

2022'nin Temmuz ayında ortalama hava kirliliğini aşan şehir sayısı 2874'dır.

2022'nin Ağustos ayında ortalama hava kirliliği 90'tür.

2022'nin Ağustos ayında ortalama hava kirliliğini aşan şehir sayısı 2921'dır.

2022'nin Eylül ayında ortalama hava kirliliği 101'tür.

2022'nin Eylül ayında ortalama hava kirliliğini aşan şehir sayısı 2303'dır.

2022'nin Ekim ayında ortalama hava kirliliği 115'tür.

2022'nin Ekim ayında ortalama hava kirliliğini aşan şehir sayısı 2371'dır.

2022'nin Kasım ayında ortalama hava kirliliği 132'tür.

2022'nin Kasım ayında ortalama hava kirliliğini aşan şehir sayısı 2124'dır.

2022'nin Aralık ayında ortalama hava kirliliği 146'tür.

2022'nin Aralık ayında ortalama hava kirliliğini aşan şehir sayısı 2119'dır.

Kış aylarında şehirlerdeki hava kirliliği ortalaması yaza göre daha yüksektir.

USA'nin şehirlerinde ortalama hava kirliliği 71'dir.

Japonya'nin şehirlerinde ortalama hava kirliliği 82'dir.

Çin'nin şehirlerinde ortalama hava kirliliği 263'dir.

Kanada'nin şehirlerinde ortalama hava kirliliği 62'dir.

Hindistan'nin şehirlerinde ortalama hava kirliliği 393'dir.

Almanya'nin şehirlerinde ortalama hava kirliliği 87'dir.

İngiltere'nin şehirlerinde ortalama hava kirliliği 72'dir.

Avustralya'nin şehirlerinde ortalama hava kirliliği 36'dir.

İspanya'nin şehirlerinde ortalama hava kirliliği 88'dir.

Tayland'nin şehirlerinde ortalama hava kirliliği 177'dir.

2022 yılında en yüksek hava kirliliği ortalamasına sahip ülke Çad'dır.

2022 yılında en düşük hava kirliliği ortalamasına sahip ülke Bermuda'dır.

2021 yılında en yüksek hava kirliliği ortalamasına sahip ülke Bangladeş'dır.

2021 yılında en düşük hava kirliliği ortalamasına sahip ülke Letonya'dır.

2020 yılında en yüksek hava kirliliği ortalamasına sahip ülke Bangladeş'dır.

2020 yılında en düşük hava kirliliği ortalamasına sahip ülke Angola'dır.

2019 yılında en yüksek hava kirliliği ortalamasına sahip ülke Bangladeş'dır.

2019 yılında en düşük hava kirliliği ortalamasına sahip ülke Mısır'dır.

USA'de en yüksek hava kirliliğine sahip şehir Oakridge'dir.

USA'de en düşük hava kirliliğine sahip şehir Terryville'dir.

Japonya'de en yüksek hava kirliliğine sahip şehir Kasaoka'dir.

Japonya'de en düşük hava kirliliğine sahip şehir Shingu'dir.

Çin'de en yüksek hava kirliliğine sahip şehir Hotan'dir.

Çin'de en düşük hava kirliliğine sahip şehir Rikaze'dir.

Kanada'de en yüksek hava kirliliğine sahip şehir Clearwater'dir.

Kanada'de en düşük hava kirliliğine sahip şehir Powell River'dir.

Almanya'de en yüksek hava kirliliğine sahip şehir Meppen'dir.

Almanya'de en düşük hava kirliliğine sahip şehir Schwabische Alb'dir.

Hindistan'de en yüksek hava kirliliğine sahip şehir Bhiwadi'dir.

Hindistan'de en düşük hava kirliliğine sahip şehir Tarakeswar'dir.

İngiltere'de en yüksek hava kirliliğine sahip şehir Faversham'dir.

İngiltere'de en düşük hava kirliliğine sahip şehir Milngavie'dir.

Avustralya'de en yüksek hava kirliliğine sahip şehir Ludmilla'dir.

Avustralya'de en düşük hava kirliliğine sahip şehir Cockburn'dir.

İspanya'de en yüksek hava kirliliğine sahip şehir Puebla de Alfinden'dir.

İspanya'de en düşük hava kirliliğine sahip şehir Castello de la Plana'dir.

Tayland'de en yüksek hava kirliliğine sahip şehir Chaloem Phra Kiat'dir.

Tayland'de en düşük hava kirliliğine sahip şehir Mak'dir.

2022'de en yüksek hava kirliliğine sahip şehir Pakistan'ın Lahore şehridir.

2022'de en düşük hava kirliliğine sahip şehir USA'ın Terryville şehridir.

2021'de en yüksek hava kirliliğine sahip şehir Hindistan'ın Darbhanga şehridir.

2021'de en düşük hava kirliliğine sahip şehir Avustralya'ın Moree şehridir.

2020'de en yüksek hava kirliliğine sahip şehir Çin'ın Hotan şehridir.

2020'de en düşük hava kirliliğine sahip şehir Avustralya'ın Ouyen şehridir.

2019'de en yüksek hava kirliliğine sahip şehir Hindistan'ın Ghaziabad şehridir.

2019'de en düşük hava kirliliğine sahip şehir USA'ın Waimea şehridir.

### 3 - Öneriler

2022'de hava kirliliği ortalaması 114 olarak belirlenmiş ve aşan şehir sayısı 2172 olmuş. Bu yüksek sayılar göz önüne alındığında, hava kirliliğiyle mücadelede acil önlemler alınmalıdır. Şehirlerdeki endüstriyel emisyonlar kontrol altına alınmalı ve sanayi tesislerinde daha sıkı düzenlemeler yapılmalıdır.

Kış aylarında hava kirliliği ortalaması yaz aylarına göre daha yüksek olduğu belirtilmiş. Bu durumda, ısınma yöntemlerinin gözden geçirilmesi önemlidir. Daha verimli ısıtma sistemleri kullanılmalı, kömür gibi kirletici yakıtların kullanımı azaltılmalı ve yerine temiz enerji kaynakları tercih edilmelidir.

Çin'in şehirlerinde ortalama hava kirliliği 263 olarak belirlenmiş. Çin, yoğun nüfusu ve büyük sanayi sektörüyle bilinen bir ülke olduğundan, hava kirliliğiyle mücadelede öncelikli adımlar atılmalıdır. Sanayi tesislerindeki emisyonlar kontrol altına alınmalı, enerji üretiminde yenilenebilir enerji kaynaklarına geçiş hızlandırılmalı ve trafik yönetimiyle ilgili önlemler alınmalıdır.

Hindistan'ın şehirlerinde ortalama hava kirliliği 393 olarak belirlenmiş. Hindistan, hava kirliliği sorunuyla mücadele etmek için özel önlemler almalıdır. Temiz enerji kaynaklarına yatırım yapılmalı, kömür yakıtlı termik santrallerin sayısı azaltılmalı ve çevre dostu ulaşım sistemleri teşvik edilmelidir.

USA'nin şehirlerinde ortalama hava kirliliği 71 olarak belirlenmiş. Bu oran, diğer ülkelerin hava kirliliği seviyelerine göre daha düşüktür. Bununla birlikte, hava kirliliğini daha da azaltmak için daha fazla sürdürülebilir ulaşım seçenekleri teşvik edilebilir ve enerji üretiminde yenilenebilir kaynaklara daha fazla yatırım yapılabilir.